# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IntelliJ IDEA
*.iml
.idea/
*.ipr
*.iws
.idea_modules/

# Other IDE or editor files
.vscode/
.DS_Store

# Flask-specific: Exclude the Lib folder
Lib/